* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(project_4.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 200px;
  height: 100px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px white;
  border: 2px solid rgb(60, 202, 238);
  background: transparent;
  color: white;
}

#timer {
  font-size: 2.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pauseButton {
  border: transparent;
  background: transparent;
  color: white;
  padding: 10px 25px 0 0;
  cursor: pointer;
}

#resetButton {
  border: transparent;
  background: transparent;
  color: white;
  padding: 10px 0 0 25px;
}

#pause:hover {
  color: green;
}

#play:hover {
  color: orange;
}

#resetButton:hover {
  cursor: pointer;
  color: red;
}

@media only screen and (max-width: 700px) {
  body {
    background: rgb(50, 50, 87);
    max-width: 100%;
    display: block;
    position: relative;
    width: 100%;
    left: 70px;
  }
  #container {
    border: 5px solid rgb(66, 100, 185);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 50px;
  }
  #timer {
    display: block;
    font-size: 3.5em;
    position: absolute;
    left: 25px;
    top: 100px;
  }
  .buttons {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
  }
  #pauseButton, #resetButton {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 10%;
    border-radius: 10px;
    box-shadow: 3px 3px white;
  }
  #pause, #play, #reset {
    width: 100px;
    font-size: 3em;
  }
  #pauseButton:hover, #resetButton:hover {
    background: rgb(141, 155, 224);
  }
}
